:root {
  --heading-font: "montserrat", sans-serif;
  --main-color: rgb(239, 237, 237);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
  text-align: center;
  font-family: var(--heading-font);
  color: var(--main-color);
}
header h1 {
  font-size: 96px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: 500;
  margin: 0;
}
header h2 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 2px;
  font-weight: 500;
}

header h3 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
  font-weight: 500;
}

header a {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: black;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
}

footer {
  font-family: var(--heading-font);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  color: var(--main-color);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 100px;
}

.grid-links {
  align-self: center;
}
ul {
  padding: 0;
}
footer li {
  display: inline;
  margin: 0 20px;
  text-decoration: underline;
}
footer li a {
  color: var(--main-color);
}
footer h3 {
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 1px;
}

footer p {
  font-size: 15px;
}
footer p a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }

  header a {
    padding: 8px 16px;
    font-size: 10px;
  }

  footer {
    padding: 30px;
  }
  .grid {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  footer li {
    font-size: 12px;
  }
  footer h3 {
    font-size: 14px;
    margin-top: 40px;
  }
  footer p {
    font-size: 10px;
  }
}
